<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="Assets/brilliance.svg">
    <link rel="stylesheet" href="../Assets/AboutUs.css">
    <title>DevArt</title>
</head>
<body>
    <header>
        <div class="NavBar">

            <div class="logo" style="position: absolute; left: 50px; top: 10px;">
                <img src="../img/IconDevArt.png" alt="DevArt Logo" width="50px" />
            </div>

            <a href="../index.html">Home</a>
            <a href="../Components/Products.html">Productos</a>
            <a href="../Components/AboutUs.html">Nosotros</a>   
            <a href="../Components/Blog.html">Blog</a>
            <a href="../Components/Contact.html">Contacto</a>
            <!-- carrito de compras -->
            <div class="cart-icon">
                <a href="Components/Cart.html">
                <img src="../img/icon-cart.png" alt="Cart" width="30px" />
                <span class="cart-count">0</span>
                </a>
            </div> 
        </div>
    </header>

    <!-- Banner Nosotros-->
    <div class="container-banner">
        <h1>Sobre Nosotros</h1>
        <p>Conectando desarrolladores con el arte.</p>
        <img src="../img/Banner_Nosotros.jpg" class="banner-image" alt="Banner Nosotros">

        <a href="../index.html">Home</a>
        <a href="../Components/Products.html">Productos</a>
        <a href="../Components/AboutUs.html">Nosotros</a>
        <a href="../Components/Contact.html">Contacto</a>
    </div>
    <div class="content">  
          <h2>Nuestra Misión</h2>
            <p>En DevArt, nuestra misión es proporcionar una plataforma donde los desarrolladores puedan descubrir, compartir y adquirir arte digital creado por otros desarrolladores. 
               Creemos en la fusión de la tecnología y la creatividad para inspirar y empoderar a la comunidad de desarrolladores.</p>
            <h2>Nuestro Equipo</h2>
            <p>Somos un equipo apasionado de desarrolladores y artistas que entienden las necesidades y aspiraciones de nuestra comunidad. Trabajamos juntos para crear un espacio donde el arte y la tecnología se encuentren.</p>
            <h2>Únete a Nosotros</h2>
            <p>Si eres un desarrollador con talento artístico o simplemente alguien que aprecia el arte digital, te invitamos a unirte a nuestra comunidad. Juntos, podemos hacer de DevArt el lugar definitivo para el arte de desarrolladores.</p>
    </div>

    <footer>
        <div class="footer-content">
            <div class="footer">
                <h3>DevArt</h3>
                <p>Tu hub para arte y creatividad de desarrolladores.</p>
            </div>

            <div class="footer-section">
                <h4>Síguenos</h4>
                <div class="social-links">
                    <a href="https://github.com/Elianbarra/DevArt-Web">GitHub</a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 DevArt. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>