
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="Assets/brilliance.svg">
    <link rel="stylesheet" href="../Assets/Shop.css">
    <title>DevArt</title>
</head>
<body>
    <div class="NavBar">
        <a href="../index.html">Home</a>
        <a href="Products.html">Productos</a>
        <a href="Blog.html">Blogs</a>
        <a href="AboutUs.html">Nosotros</a>
        <a href="Contact.html">Contacto</a>
        <a href="Shop.html">Carrito</a>
    </div>


<!-- CARRITO PARA EL PRODUCTO-->
    

<div class="CarruselShop">
    <div class="carousel-itemShop1 producto" data-id="1" data-nombre="Servicio de BIGDATA" data-precio="50000">
        <img src="img/ChatGPTbigdata.png" alt="DevArt Image s1" />
        <div class="caption">Servicio de BIGDATA</div>
        <button class="add-to-cart">Agregar al carrito</button>
    </div>

    <div class="carousel-itemShop2 producto" data-id="2" data-nombre="Desarrollo Web Art-Técnico" data-precio="80000">
        <img src="img/ChatGPTdevweb.png" alt="DevArt Image s2" />
        <div class="caption">Desarrollo Web Art-Técnico</div>
        <button class="add-to-cart">Agregar al carrito</button>
    </div>

    <div class="carousel-itemShop3 producto" data-id="3" data-nombre="Analisis de Datos" data-precio="60000">
        <img src="img/ChatGPTanalisisdata.png" alt="DevArt Image s3" />
        <div class="caption">Analisis de Datos</div>
        <button class="add-to-cart">Agregar al carrito</button>
    </div>
</div>